.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.search_form{
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input{
  margin-right: 10px;
  width: 50%;
}

.noposts{
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a{
  padding: 10px 25px;
}

.button{
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  font-size: 1em;
  margin-left: 1.5rem;
}



