
body{
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

input::placeholder,
textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
}

input:focus,
text:focus{
  outline: none;
}

a,
nav, button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

a:hover,
nav button:hover{
  color: rgb(122, 122, 122);
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}